# numpy
pandas
nltk
ipykernel
scikeras
# tensorflow
scikit-learn
tensorboard
matplotlib
streamlit
langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
langchain-openai
langchain-text-splitters
langchain-ollama
sentence_transformers
langchain-huggingface
faiss-cpu
langchain_chroma
streamlit
torch 
torchvision
langchain_groq
fastapi
langserve[all]